.Logo{
    position: absolute;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
}

.SearchBar{
    position: absolute;
    margin-top: 10px;
    margin-left: 500px;
    width: 400px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.Logout{
    position: absolute;
    margin-left: 1290px;
    width: 50px;
}

.Add{
    position: absolute;
    margin-left: 1360px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    background-color: #ffffff;
}

.Heart{
    position: absolute;
    margin-left: 1410px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    padding: 2px;
    background-color: #ffffff;
}

.Profile{
    position: absolute;
    margin-left: 1460px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    background-color: #ffffff;
}


.BigSquare{
    position: absolute;
    top: 10%;
    left: 25%;
}

.Exit{
    position: absolute;
    top: 15%;
    left: 28%;
    border: none;
}

.Dog{
    position: absolute;
    top: 21%;
    left: 30%;
}

.AddTitle{
    position: absolute;
    margin-top: 35%;
    margin-left: 59%;
    width: 200px;
}

.UName{
    position: absolute;
    margin-top: 37.5%;
    margin-left: 59%;
    width: 100px;
}

.Describe{
    position: absolute;
    margin-top: 40%;
    margin-left: 59%;
    width: 200px;
}

.SaveButton{
    position: absolute;
    margin-top: 10%;
    margin-left: 53%;
    width: 200px;
}

