.Logo{
    position: absolute;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
}

.SearchBar{
    position: absolute;
    margin-top: 10px;
    margin-left: 500px;
    width: 400px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.Logout{
    position: absolute;
    margin-left: 1290px;
    width: 50px;
    margin-top: 18px;
}

.Add{
    position: absolute;
    margin-left: 1360px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    background-color: #ffffff;
}

.Heart{
    position: absolute;
    margin-left: 1410px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    padding: 2px;
    background-color: #ffffff;
}

.Profile{
    position: absolute;
    margin-left: 1460px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
    height: 35px;
    width: 43px;
    background-color: #ffffff;
}



.BigSquare{
    position: absolute;
    top: 10%;
    left: 25%;
}

.Exit{
    position: absolute;
    top: 15%;
    left: 28%;
    border: none;
}

.LittleSquare{
    position: absolute;
    top: 21%;
    left: 30%;
}

.UploadImg{
    position: absolute;
    top: 55%;
    left: 41%;
}

.UploadText{
    position: absolute;
    width: 200px;
    top: 500px;
    left: 575px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-family: 'Inter';
    font-size: small;
}

.AddTitle{
    position: absolute;
    margin-top: 540px;
    margin-left: 57%;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: 'Inter';
    font-size: larger;
}

.UName{
    position: absolute;
    margin-top: 575px;
    margin-left: 57%;
    width: 200px;
    border: none;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-family: 'Inter';
    font-size: small;
}

.Describe{
    position: absolute;
    margin-top: 605px;
    margin-left: 57%;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-family: 'Inter';
    font-size: medium;
}

.UploadButton{
    position: absolute;
    margin-top: 10%;
    margin-left: 51%;
    width: 200px;
}

