
img {
  margin-left: 35%;
  width: 380px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ffffff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

img {
  animation: fadeIn 0.5s ease forwards;
}


  