.Title{
    position: absolute;
}

.Name{
    position: absolute;
    left: 620px;
    top: 270px;
    font-family: 'Inter';
    width: 100px;
}

.LastName{
    position: absolute;
    left: 750px;
    top: 270px;
    font-family: 'Inter';
    width: 100px;
}

.User{
    position: absolute;
    left: 630px;
    top: 300px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.Password{
    position: absolute;
    left: 630px;
    top: 355px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.CPassword{
    position: absolute;
    left: 630px;
    top: 410px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.Button{
    top: 450px;
}

.Logo{
    position: absolute;
    width: 100px;
    top: 92%;
    left: 92%;
}
