.Title{
    position: absolute;
}

.Name{
    position: absolute;
    left: 630px;
    top: 255px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    height: 40px;
    text-align: center;
}

.LastName{
    position: absolute;
    left: 765px;
    top: 255px;
    width: 115px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    height: 40px;
    text-align: center;
}

.User{
    position: absolute;
    left: 630px;
    top: 310px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.Password{
    position: absolute;
    left: 630px;
    top: 365px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.CPassword{
    position: absolute;
    left: 630px;
    top: 420px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;
    width: 250px;
    height: 40px;
    text-align: center;
}

.Button{
    top: 450px;
}

.Logo{
    position: absolute;
    width: 100px;
    top: 92%;
    left: 92%;
}
