.Title{
    position: absolute;
}

.Text{
    position: absolute;
    color: aqua;
}

.User{
    position: absolute;
    left: 675px;
    top: 290px;
    font-family: 'Inter';
}

.Password{
    position: absolute;
    left: 675px;
    top: 350px;
    font-family: 'Inter';
}

.Logo{
    position: absolute;
    width: 100px;
    top: 92%;
    left: 92%;

}
