.loginButton{
    position: absolute;
    width: 150px;
    height: 55px;
    left: 761.77px;
    top: 80%;
    filter: drop-shadow(2px 4px 11px rgba(0, 0, 0, 0.25));
    background-color: #75DAC7;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Inter';
    color: white;
}

.loginButton:hover{
    background-color: rgb(1, 201, 164);
    transition: background-color.3s;
}