.loginButton{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 45.6%;
    top: 60%;
    background-color: #75DAC7;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Inter';
    color: white;
}

.loginButton:hover{
    background-color: rgb(1, 201, 164);
    transition: background-color.3s;
}

