.Logo{
    position: absolute;
    top: 15px;
    left: 15px;
}

.Search{
    position: absolute;
    margin-left: 1410px;
    margin-top: 15px;
    border-radius: 500px;
    border: none;
}

.Options{
    position: absolute;
    margin-left: 1450px;
    margin-top: 8px;
    border-radius: 500px;
    border: none;
}

.HomeText{
    font-family: 'Inter';
    position: absolute;
    color: white;
    margin-top: 500px;
    margin-left: 510px;
}

.DarkLogo{
    position: absolute;
    margin-top: 620px;
    margin-left: 680px;
}

.LoginA{
    position: absolute;
    margin-left: 1350px;
    width: 50px;
}