article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  margin-top: 150px;
  font-family: 'Inter';
  margin-left: 580px;
}

input {
  width: 19%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 580px;
}

button {
  padding: 10px 20px;
  background-color: #75DAC7;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  margin-left: 580px;
}

button:hover {
  background-color: #00d4ad;
  transform: scale(1.1);
}

@media all and (max-width:320px){
  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    margin-top: 150px;
    font-family: 'Inter';
    margin-left: 90%;
  }
  
  input {
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 90%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #75DAC7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-left: 90%;
  }
  
  button:hover {
    background-color: #00d4ad;
    transform: scale(1.1);
  }
}